{%extends "base.html"%}

{%block content%}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm rounded-3">
            <div class="card-header bg-primary text-white text-center">
                <h4>Encounter Setup</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    
                    <div class="mb-3">
                        <label for="player" class="form-label">Select Players</label>
                        {{ form.player(class="form-select") }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="monster" class="form-label">Select Monsters</label>
                        {{ form.monster(class="form-select") }}
                    </div>
                    
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-primary btn-lg") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
{%endblock%}


